table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

.invisible-right {
  border-right: none;
  text-align: right;
  color: white;
}

.invisible-left {
  border-left: none;
  text-align: left;
  color: white;
}

#redColored {
  background-color: red;
}

#blueColored {
  background-color: blue;
  color: white;
}

#purpleColored {
  background-color: purple;
}

.center-align {
  text-align: center;
}